---
// Layouts
import FirstSection from "../layouts/FirstSection.astro";
import SecondSection from "../layouts/SecondSection.astro";
import ThirdSection from "../layouts/ThirdSection.astro";
import FourthSection from "../layouts/FourthSection.astro";
import Footer from "../layouts/Footer.astro";
import WebsiteIntro from "../layouts/WebsiteIntro.astro";

// global css
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Prolific Cuts - Ayia Napa</title>
    <style>
      body {
        background-color: var(--BlackColor);
      }
    </style>
  </head>
  <body>
    <WebsiteIntro />
    <FirstSection />
    <SecondSection />
    <ThirdSection />
    <FourthSection />
    <Footer/ >
  </body>
</html>
