---
import "../styles/global.css";
import { Image } from "astro:assets";
import ProlificLogo from "../assets/White-Logo.png";
import StarsImg from "../assets/pexels-gabriel-lorca-691086892-17981965.jpg";

// css colors
const WhiteColor = "#FAF9F6";
const BlackColor = "#000";
const YellowColor = "#E6C03B";
const GreyColor = "#8E8E8E";
---

<style>
  /* Bebas Neue */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  /* Inter */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 999;
  }

  svg {
    fill: white;
  }

  img {
    max-width: 30%;
    height: auto;
  }

  .first__section {
    position: relative;
    height: 75vh;
    background: rgb(52, 52, 52);
    background: linear-gradient(
      180deg,
      rgb(80, 80, 80) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .main__heading {
    height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 999;
  }

  h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    text-align: center;
    line-height: 0.9;
    background: -webkit-linear-gradient(#fff, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 0.8rem;
    color: var(--YellowColor);
  }

  button {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-family: "Bebas Neue", sans-serif;
    border: none;
    background-color: var(--YellowColor);
    cursor: pointer;
    border-radius: 0.25rem;
    color: var(--WhiteColor);
  }

  a {
    text-decoration: none;
  }

  /* Text Animation */
  .marquee {
    display: flex;
    /* overflow: hidden; */
    height: 10vh;
    user-select: none;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*background-color: green;*/
    transform: rotate(-3deg) translateY(-30px) translateX(50px);
  }

  .marquee:hover {
    -webkit-text-stroke: 1.5px #fff;
    text-stroke: 1.5px #fff;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
  }

  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: scroll 15s linear infinite reverse;
  }

  .marquee__group span {
    color: white;
    font-size: 5vw;
    font-weight: 800;
    white-space: nowrap;
    font-family: "Syne", sans-serif !important;
    text-transform: uppercase;
  }

  @keyframes scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(calc(0 - 2rem));
    }
  }

  @media only screen and (min-width: 360px) {
    .marquee__group span {
      font-size: 6.5vw;
    }
  }
</style>

<section class="first__section">
  <header>
    <a href="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"
        ></path></svg
      >
    </a>
    <Image src={ProlificLogo} alt="BarberShops Logo" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 96 960 960"
      width="24"
      ><path
        d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
      ></path></svg
    >
  </header>

  <div class="main__heading">
    <div class="second-main__heading">
      <h1>Best Barbershop in ayia napa.</h1>
      <p>Easily the Best Barber Shop located in Cyprus.</p>
      <a href=""><button>Book Now</button></a>
    </div>
  </div>

  <div class="marquee">
    <div class="marquee__group">
      <span>French crop</span>
      <span>Buzz cut</span>
      <span>Mullet</span>
      <span>Drop fade</span>
      <span>You ask for it. We cut it for you.</span>
    </div>
    <div class="marquee__group" aria-hidden="true">
      <span>French crop</span>
      <span>Buzz cut</span>
      <span>Mullet</span>
      <span>Drop fade</span>
      <span>You ask for it. We cut it for you.</span>
    </div>
  </div>
  
</section>
