---
import { Image } from "astro:assets";
import ProlificLogo from "../assets/White-Logo.png";

// css colors
const WhiteColor = "#FAF9F6";
const BlackColor = "#000";
const YellowColor = "#E6C03B";
const GreyColor = "#8E8E8E";
---

<style define:vars={{ WhiteColor, BlackColor, YellowColor, GreyColor }}>
  /* Inter */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");

  footer {
    background-color: var(--BlackColor);
  }

  p {
    color: var(--WhiteColor);
    font-family: "Inter", sans-serif;
    padding: 1rem;
  }

  .footer__main-div {
    font-family: "Inter", sans-serif;
    color: var(--WhiteColor);
  }

  .flex {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  svg {
    display: block;
    fill: var(--WhiteColor);
    transition: transform 0.2s ease-in;
    transition: transform 0.3s ease;
  }

  img {
    max-width: 30%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
  }

  .active svg {
    transform: rotate(180deg);
  }

  .list-show {
    display: none;
  }

  .list-show.active {
    display: block;
    font-weight: 600;
  }

  ul {
    padding: 0.5rem 0 0 0;
    margin: 0 1rem;
  }

  ul li:hover {
    text-decoration: underline;
    color: var(--GreyColor);
  }

  a {
    color: var(--GreyColor);
    text-decoration: none;
  }

  .footer__bottom-text {
    font-size: 0.6rem;
    color: var(--GreyColor);
    text-align: center;
    margin-top: 1rem;
  }

  .footer__bottom-text p {
    padding: 0 0 0.5rem 0;
  }

  .divider-line {
    height: 1px;
    background-color: white;
    opacity: .3;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

</style>

<footer>
  <div class="divider-line"></div>
  <div class="footer__main-div">
    <Image src={ProlificLogo} alt="Prolific Logo" />
    <div class="footer__main-company">
      <ul>
        <div class="flex">
          <h3>Company</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
            ></path>
          </svg>
        </div>
        <li class="list-show"><a href="">About</a></li>
        <li class="list-show"><a href="">Owners</a></li>
        <li class="list-show"><a href="">Crew</a></li>
        <li class="list-show"><a href="">Haircuts</a></li>
        <li class="list-show"><a href="">Terms & conditions</a></li>
        <li class="list-show"><a href="">Privacy & Policies</a></li>
      </ul>
    </div>
    <div class="footer__main-explore">
      <ul>
        <div class="flex">
          <h3>Socials</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
            ></path>
          </svg>
        </div>
        <li class="list-show">
          <a href="https://www.instagram.com/prolific.cuts.napa/">Instagram</a>
        </li>
        <li class="list-show">
          <a href="https://www.tiktok.com/@young_noy">TikTok</a>
        </li>
        <li class="list-show"><a href="">Facebook</a></li>
        <li class="list-show"><a href="">Contact Us</a></li>
        <li class="list-show">
          <a
            href="https://www.google.com/maps/place/Prolific+Cuts/@34.9871111,34.0006052,21z/data=!4m6!3m5!1s0x874f762c79d34371:0xfec0de3f35ff3919!8m2!3d34.9871111!4d34.0006052!16s%2Fg%2F11y3rnz9rx?entry=ttu"
            >Maps</a>
        </li>
      </ul>
    </div>
    <div class="footer__main-socials">
      <ul>
        <div class="flex">
          <h3>Explore</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
            ></path>
          </svg>
        </div>
        <li class="list-show"><a href="">Developers</a></li>
        <li class="list-show"><a href="">Activities</a></li>
        <li class="list-show"><a href="">Equipment</a></li>
        <li class="list-show"><a href="">Other</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom-text">
    <p>© 2024 Prolific Cuts, inc. all rights reserved</p>
    <p>25, Archiepiskopou Makariou III Avenue, Ayia Napa 5343, CY.</p>
  </div>
</footer>

<script>
  document.querySelectorAll(".flex").forEach(function (flex) {
    flex.addEventListener("click", function () {
      // Retrieve the closest parent UL of the clicked .flex
      const ul = this.closest("ul");

      // Toggle active class on list items within the same UL
      ul.querySelectorAll(".list-show").forEach(function (li) {
        li.classList.toggle("active");
      });

      // The SVG within the clicked .flex element
      const svg = this.querySelector("svg");

      // Check if any list item is active to determine rotation state
      if (ul.querySelector(".list-show.active")) {
        svg.style.transform = "rotate(180deg)";
      } else {
        svg.style.transform = "rotate(0deg)";
      }
    });
  });
</script>
