---
// css colors
const WhiteColor = "#FAF9F6";
const BlackColor = "#000";
const YellowColor = "#E6C03B";
const GreyColor = "#8E8E8E";
---

<style define:vars={{ WhiteColor, BlackColor, YellowColor, GreyColor }}>
  /* Bebas Neue */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

  .fourth__section {
    font-family: "Bebas Neue", sans-serif;
    background-color: var(--BlackColor);
    padding: 3rem 0;
  }

  .google-maps__div {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  iframe {
    height: 20rem;
    width: 100%;
    /* padding: 0 1rem; */
    border: solid 1px red;
    border-radius: 0.5rem;
  }

  h1 {
    color: var(--WhiteColor);
    padding: 0 1.2rem;
  }
</style>
<section class="fourth__section">
  <div class="google-maps__div">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3268.778154650722!2d33.997991676536465!3d34.98722117281925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1715618750483!5m2!1sen!2s"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="text__under-map">
    <h1>Find us on the map</h1>
  </div>
</section>
