---
import "../styles/global.css";
import { Image } from "astro:assets";
import Giannis from "../assets/Snapinsta.app_299881807_5583105468418179_2259857107602726306_n_1080.jpg";
import Theo from "../assets/Snapinsta.app_294896196_567612594852514_2529458270462253924_n_1080.jpg";

// css colors
const WhiteColor = "#FAF9F6";
const BlackColor = "#000";
const YellowColor = "#E6C03B";
const GreyColor = "#8E8E8E";
---

<style define:vars={{ WhiteColor, BlackColor, YellowColor, GreyColor }}>
  /* Bebas Neue */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
  /* Inter */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");
  /* Oregano */
  @import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");

  .second__section {
    background-color: var(--BlackColor);
  }

  h1 {
    margin-left: 1rem;
    font-family: "Inter", sans-serif;
    color: var(--WhiteColor);
    text-transform: uppercase;
    line-height: 1;
    max-width: 80%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }

  h3 {
    font-family: "Oregano", cursive;
    margin-left: 1rem;
    color: var(--GreyColor);
  }

  /* Scrolling section */
  .main-scrolling__section {
    padding: 3rem 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 2rem;
  }

  .main-scrolling__section::-webkit-scrollbar {
    display: none;
  }

  .scroll-list {
    position: relative;
    margin-left: 1.5rem;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  img {
    max-width: 320px;
    height: auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.50);
  }

  h2 {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    top: 1rem;
    left: 1rem;
    color: var(--WhiteColor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  }

  .list2 {
    padding-right: 3rem;
  }

</style>

<section class="second__section">
  <div class="second__section-heading">
    <h1 class="hidden">INTRODUCING Our Barber Crew</h1>
    <h3 class="hidden">Prolific Cuts Crew</h3>
  </div>

  <div class="main-scrolling__section">
    <div class="scroll-list list1">
      <Image src={Giannis} alt="giannis koliandris" class="hidden" />
      <h2 class="hidden">Giannis Koliandris</h2>
    </div>
    <div class="scroll-list list2">
      <Image src={Theo} alt="theo kattakas" class="hidden" />
      <h2 class="hidden">Theo Pittakas</h2>
    </div>
  </div>
</section>
