---
// css colors
const WhiteColor = "#FAF9F6";
const BlackColor = "#000";
const YellowColor = "#E6C03B";
const GreyColor = "#8E8E8E";
---

<style define:vars={{ WhiteColor, BlackColor, YellowColor, GreyColor }}>
  /* Inter */
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap");

  .third__section {
    height: 150vh;
    background: rgb(32, 32, 32);
    background: linear-gradient(
      180deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    padding: 0 1rem;
  }

  .third__section-heading {
    padding-top: 3rem;
  }

  h4 {
    font-family: "Inter", sans-serif;
    color: var(--YellowColor);
    font-size: 1rem;
  }

  h1 {
    font-family: "Inter", sans-serif;
    color: var(--WhiteColor);
    font-size: 2rem;
    line-height: 1;
    padding-bottom: 1rem;
  }

  p {
    font-family: "Inter", sans-serif;
    color: var(--GreyColor);
    font-size: 0.8rem;
  }

  .photos {
    margin: 2rem auto;
    min-height: 400px;
    min-width: 280px;
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;    
    text-align: right;
    padding: 0.5rem;
  }

  .photos h1 {
    font-size: 1rem;
    color: var(--BlackColor);
    padding: 0;
  }

  .photos p {
    color: white;
    font-size: 0.5rem;
    padding-left: 2rem;
  }

</style>
<section class="third__section">
  <div class="third__section-heading">
    <h4>No other place like ours</h4>
    <h1>Booked with a group? no better place than ours.</h1>
    <p>
      While your friends are getting their haircuts, take the opportunity to
      unwind and entertain yourself by challenging your mates to a game on our
      classic pool table.
    </p>
  </div>
  <div class="third__section-photos">
    <div class="photos">
      <h1>Activities</h1>
      <p>this isnt just a barbershop. this is a relaxing escape from the ordinary.</p>
    </div>
    <div class="photos">
      <h1>Where the magic happens.</h1>
      <p>With Prolific cuts we never judge someones cut, but only deliver the desired cut with excelence.</p>
    </div>
  </div>
</section>
